#header1{
    font-family: 'Tangerine', serif;
    font-size: 60px;
    text-align: center;
    color: green;
    font-weight:bolder;
    
}
nav {
    color: green;
}
.display-4{
    text-align: center;
}