#header1{
    font-family: 'Tangerine', serif;
    font-size: 60px;
    text-align: center;
    color: green;
    font-weight:bolder;
    text-shadow: 6px 4px 4px rgb(216, 35, 171);
    
}
nav{
    color: green;
}
.display-4{
    text-align: center;
    color: green;
}
.lead{
    color: green;
}
#button{
    color: rgb(240, 247, 240);
    background-color: rgb(49, 163, 26);
}
#pizza1{
    color:rgb(12, 114, 12);
    font-size:30px;
}
footer{
    background-color: rgb(129, 224, 137);
}