#header1{
    font-family: 'Tangerine', serif;
    font-size: 60px;
    text-align: center;
    color: green;
    font-weight:bolder;
    
}
header{
    background-color: solid blue;
}
nav li a{
    color: green;
}